<div class="container">
  <div id="myjobs" class="row">
    <div class="col-12 col-md-6">
      <h1>My Applications</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-sm-10 col-md-4 col-lg-3" *ngFor="let application of applications"
      (click)="onSelect(application)">
      <div class="card">
        <h1 class="card-title">{{application.offer.companyName}}</h1>
        <div class="row">
          <div class="col-12 date">
            <h4 class="card-text">
              {{application.when | date: "M MMM"}} @
              {{application.when | date: "HH:mm"}}
            </h4>
          </div>
          <div class="col-12">
            <p class="card-block">
              {{application.where}}
            </p>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-12">
              <button class="btn btn-danger float-right" (click)="deleteApplication(application.id)">Remove
                application</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
