<div id="navbar">
  <nav *ngIf="loginService.isAuthenticated()" class="navbar navbar-expand-md navbar-dark">
    <button id="toggleBtn" class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse"
      data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul id="navbarInner" class="navbar-nav ml-auto ">
        <li class="nav-item" matTooltip="You have no notifications." matTooltipClass="tooltips">
          <a class="nav-link"><i class="fa fa-send"></i></a>
        </li>
        <li class="nav-item" matTooltip="You are currently online." matTooltipClass="tooltips">
          <a class="nav-link"><i class="fa fa-wifi"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/jobs']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">OFFERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/applications']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">JOB APPLICATIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()">SIGN OUT</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
