<div *ngIf="firstTime" id="welcome-screen">
  <div class="welcome-card">
    <h5 class="align-middle">Welkom op MyJobsApp!</h5>
    <p>My text lorem ipsum...My text lorem ipsum...My text lorem ipsum...My text lorem ipsum...My text lorem ipsum...My
      text lorem ipsum...My text lorem ipsum...My text lorem ipsum...My text lorem ipsum...My text lorem ipsum...</p>
  </div>
</div>

<div *ngIf="!firstTime">
  <!-- <navbar *ngIf="this.userService.isAuthenticated()" [isConnected]="isConnectionAvailable" [postRequestsAvailable]="!localStorageEmpty"></navbar> -->
  <!---<navbar [isConnected]="isConnectionAvailable" [postRequestsAvailable]="!localStorageEmpty"></navbar>-->
  <navbar></navbar>
  <!-- Home / events... -->
  <section>
    <router-outlet></router-outlet>
  </section>
</div>
