#myjobs {
  margin-bottom: 1.5rem;
}

#myjobs h1 {
  color: white;
}

.card {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8) !important;
  margin-bottom: 2rem;
}

.card-header {
  height: 9rem
}

.card h1,
h4,
p,
div {
  color: black
}

.card-block {
  color: #848484;
  padding: 0.5rem 1.3rem;
}

.card-text {
  padding: 1.3rem;
}

.card-footer {
  bottom: 0;
}

.addBtn {
  background-color: whitesmoke;
  color: black;
  float: right;
}

@media only screen and (max-width: 767px) {
  .card-header {
    height: 9rem
  }
}

@media only screen and (max-width: 992px) {
  .card-header {
    height: 10rem
  }
}
