.fa-6 {
  font-size: 20em;
  color: #f3f3f3;
}

.handshake {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.title {
  text-align: center;
  margin: 0 auto;
}

.title h1 {
  font-size: 3rem;
  letter-spacing: 0.2ch;
}

.apps {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 25px;
}
