.fa-6 {
  font-size: 20em;
  color: #f3f3f3;
}

.handshake {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.title {
  text-align: center;
  margin: 0 auto;
}

.title h1 {
  font-size: 3rem;
  letter-spacing: 0.2ch;
}

.apps {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 25px;
}

@media only screen and (max-width: 767px) {
  #icon {
    display: none;
  }
}

@media only screen and (max-width: 525px) {
  .title h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 455px) {
  .title h1 {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 400px) {
  .title h1 {
    font-size: 1.8rem;
  }
}
